// @import url(https://tandhconsult.com/wp-content/themes/th/style.css);
.card {
    overflow: hidden;
    max-width: 100%;
    padding: 38px 0 50px;
    .container {
        box-sizing: border-box;
        width: 100%;
        max-width: 1598px;
        margin: 0 auto;
        padding: 0 15px;
        .card__name {
            margin-bottom: 30px;
        }
        .title {
            font-size: 42px;
            font-weight: bold;
            line-height: 1.354;
            margin-bottom: 40px;
             span {
                background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .card__row {
            display: flex;
            width: 100%;
            margin-bottom: 40px;
            align-items: flex-start;
            justify-content: flex-start;
            .card__pic {
                display: block;
                display: block;
                width: 100%;
                max-width: 769px;
                margin-right: 30px;
                flex-grow: 0;
                flex-shrink: 0;
                 img {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    max-height: 520px;
                    object-fit: cover;
                }
            }
            .card__right {
                width: 100%;
                max-width: 100%;
                p {
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.7;
                    margin-bottom: 19px;
                    color: #656565;
                }
                .card__ctrl {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .add_to_cart_button {
                        display: flex;
                        align-content: center;
                        font-size: 14px;
                        font-weight: bold;
                        overflow: hidden;
                        min-height: 60px;
                        margin-right: 30px;
                        padding: 15px 55px;
                        transition: background-position .5s ease;
                        text-align: center;
                        text-transform: uppercase;
                        color: #fff !important;
                        border-radius: 5px;
                        background: linear-gradient(to right, #32509d, #6faadb, #32509d);
                        background-size: 300% 100%;
                        &:hover {
                            color: #fff;
                            background-position: 100% 0;
                        }
                    }
                    .card__price {
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 1.354;
                        color: #0f0f0f;
                        .card__price {
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 1.354;
                            color: #0f0f0f;
                            del {
                                text-decoration: line-through;
                            }
                            bdi {
                                unicode-bidi: isolate;
                            }
                            ins {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .card__desc {
            max-width: 1369px;
            h3{
                background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                width: 100%;
                max-width: max-content;
                font-size: 22px;
                font-weight: bold;
                line-height: 1.354;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                line-height: 1.83;
                margin-bottom: 29px;
                color: #656565;
                strong{
                    font-weight: bolder;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .wp-video {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.arrow_right_icon{
    width: 32px;
    height: 14px;
    display: inline-block;
    // background-color: linear-gradient(to right, #32509d 0%, #70abdc 100%);
    // background: #fff!important;
    filter: brightness(0) invert(1);
    background: url(https://tandhconsult.com/wp-content/themes/th/img/icons/arrow-right.svg);
    mask-image: url(https://tandhconsult.com/wp-content/themes/th/img/icons/arrow-right.svg);
}
