.partner {
    overflow: hidden;
    max-width: 100%;
    padding: 60px 0 143px;
  
    @media screen and (max-width: 1024px) {
      padding: 50px 0;
    }
  
    @media screen and (max-width: 932px) {
      padding: 40px 0;
    }
  
    .container {
      max-width: 1622px;
      padding: 0px 45px;
    }
  
    &__slider {
      position: relative;
      width: 100%;
      max-width: 100%;
  
      .slick-list {
        margin: 0 -20px;
  
        @media screen and (max-width: 932px) {
          margin: 0 -5px;
        }
      }
  
      .slick-track {
        display: flex !important;
        align-items: center;
      }
    }
  
    &__pic {
      display: flex !important;
      margin: 0 20px;
      transition: all 0.3s ease;
      justify-content: center;
      filter: grayscale(100%);
      will-change: filter;
  
      @media screen and (max-width: 932px) {
        margin: 0 5px;
      }
  
      &:focus {
        outline-width: 0;
      }
  
      img {
        max-width: 100%;
        height: auto;
        -o-object-fit: contain;
        object-fit: contain;
      }
  
      &:hover {
        filter: grayscale(0%);
      }
    }
  
    &__arrow {
      position: absolute;
      z-index: 8;
      top: 50%;
      display: inline-flex;
      transform: translateY(-50%);
  
      &--prev {
        left: -45px;
  
        @media screen and (max-width: 1570px) {
          left: -40px;
        }
  
        .i {
          transform: scale(-1, 1);
        }
      }
  
      &--next {
        right: -45px;
  
        @media screen and (max-width: 1570px) {
          right: -40px;
        }
      }
  
      .i {
        width: 28px;
        height: 10px;
        background: #000;
  
        &:hover {
          background: #70abdc;
        }
      }
    }
  }
  

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1598px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .title {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.354;
    margin-bottom: 40px;
    span{
        // background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        background: linear-gradient(to right, #012555, #55719F, #012555);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1rem;
        font-weight: bolder;
    }
}
.title2{
  margin-bottom: 0px;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 300;
  visibility: visible;
  // animation-name: fadeInUp;
  // animation-delay: 0.5s;
  background: linear-gradient(to right, rgb(50, 80, 157) 0%, rgb(112, 171, 220) 100%) text;
}
.team_container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    @media only screen and (max-width: 750px){
      grid-template-columns: auto;
    }
}