.banner_partner {
  overflow: hidden;
  max-width: 100%;
  padding: 70px 0 57px;
  background-color: rgba(0,0,255,.04) ;
  //  #f5f5f5;

  .container {
    max-width: 1677px;
    padding: 0 45px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    .partner_slider {
      position: relative;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      .btn_prev{
          width: 3%;
          position: absolute;
          top: 0;
          left: -48px;
          height: 100%;
      }
      .btn_next{
          width: 3%;
          position: absolute;
          top: 0;
          right: -48px;
          height: 100%;
      }
      .slick_list {
        margin: 0 -20px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
              display: none;
          }
      
        .slick_track {
          display: grid;
          align-items: center;
          grid-template-columns: auto auto auto auto auto auto auto;
          .partner_pic {
            display: flex !important;
            margin: 0 20px;
            transition: all .3s ease;
            justify-content: center;
            filter: grayscale(100%);
            will-change: filter;
            width: 185px;
            &:hover{
              filter: grayscale(0%);
            }
            img {
              max-width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  /* Make the slider more responsive */
  @media (max-width: 1024px) {
    .container {
      // padding: 0 20px; /* Reduce padding on smaller screens */
    }

    .partner_slider .slick_track {
      flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    }

    .partner_pic {
      width: 150px; /* Adjust width for smaller screens */
      margin: 0 10px; /* Reduce margin for better spacing */
    }
  }

  @media (max-width: 768px) {
    .partner_pic {
      width: 120px; /* Further adjust width for mobile screens */
      margin: 0 5px; /* Further reduce margin */
    }
  }
}