.privacy{
    overflow: hidden;
    max-width: 100%;
    padding: 38px 0 80px;
    .container{
        box-sizing: border-box;
        width: 100%;
        max-width: 1598px;
        margin: 0 auto;
        padding: 0 15px;
        .privacy__block{
            &:last-child {
                margin-bottom: 0;
            }
            h2{
                background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                max-width: max-content;
                width: 100%;
                display: inline-block;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .login{
                padding: 20px 0px;
                margin: 0 0 2em;
                text-align: left;
                label{
                    line-height: 2;
                    margin-bottom: .5rem;
                    display: block;
                }
                span{
                    color: red;
                }
                .input{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 65px;
                    display: block;
                    box-sizing: border-box;
                    width: 46.5%;
                    max-width: 100%;
                    height: 65px;
                    margin-bottom: 15px;
                    padding: 0 20px;
                    resize: none;
                    transition: all .25s ease-in-out;
                    color: #0f0f0f;
                    border: none;
                    border: 1px solid rgba(200, 200, 200, .36);
                    border-radius: 0;
                    background: none;
                    background-color: #fff;
                    box-shadow: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .remember{
                    display: flex;
                    flex-flow: row-reverse;
                    justify-content: flex-end;
                    gap: 1rem;
                    .button{
                        color: #fff;
                        background-position: 100% 0;
                        background-color: #5584c1;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.4;
                        overflow: hidden;
                        min-height: 60px;
                        padding: 15px 30px;
                        transition: background-position .5s ease;
                        text-align: center;
                        text-transform: uppercase;
                        color: #fff !important;
                        border-radius: 5px;
                        background: linear-gradient(to right, #32509d, #6faadb, #32509d);
                        background-size: 300% 100%;
                    }
                }
                .href{
                    position: relative;
                    color: rgb(50, 80, 157);
                    display: block;
                    margin-top: .5rem;
                    font-size: .9rem;
                }
            }
            
        }
        .privacy__title{
            // margin-bottom: 30px;
        }
        
        .title {
            font-size: 42px;
            font-weight: bold;
            line-height: 1.354;
            // margin-bottom: 40px;
            span{
                background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}