@use 'sass:math';

@function Clamp-all($half, $viewH, $full, $viewport: 1920) {
    $scaled-value-px: math.div($half, 2);
    $scaled-value-vw: math.div($viewH, $viewport) * 100;
    @return clamp(
        calc(#{$scaled-value-px}px), // Half value in px
        calc(#{$scaled-value-vw}vw), // Viewport-based value in vw
        #{$full} 
    );
}


.overlay{
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    min-height: 420px;
    align-items: center;
    .overlay_bg{
        position: absolute;
        z-index: 1;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        &::after{
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 94%;
            content: '';
            background: linear-gradient(180deg, rgba(43, 42, 42, .71) 0%, rgba(0, 0, 0, 0) 100%);
        }
        img{    
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .container{
        box-sizing: border-box;
        width: 100%;
        max-width: 1398px;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
        z-index: 2;
        .overlay_title{
            font-size: 42px;
            font-weight: bold;
            line-height: 1.354;
            margin-bottom: 0;
            color: #fff;
        }
    }
}

.partner {
    overflow: hidden;
    max-width: 100%;
    padding: 60px 0 143px;
  
    @media screen and (max-width: 1024px) {
      padding: 50px 0;
    }
  
    @media screen and (max-width: 932px) {
      padding: 40px 0;
    }
    @media only screen and (max-width: 920px){
      &__wrapper{
        flex-direction: column;
        gap: 2rem;
        align-items: center!important;
      }
    }
    .container {
      max-width: 1622px;
      padding: 0px 45px;
    }
    &__text {
        font-size: Clamp-all(30, 20, 20px );
        font-weight: 500;
        line-height: 1.354;
        margin-bottom: 72px;
        color: #0f0f0f;
    }
    &__wrapper {

        display: flex;
        width: 100%;
        margin-bottom: 100px;
        align-items: flex-start;
        justify-content: space-between;
    }
  
    &__slider {
      position: relative;
      width: 100%;
      max-width: 100%;
  
      .slick-list {
        margin: 0 -20px;
  
        @media screen and (max-width: 932px) {
          margin: 0 -5px;
        }
      }
  
      .slick-track {
        display: flex !important;
        align-items: center;
      }
    }

    &__name {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 14px;
    }
  
    &__pic {
            display: flex;
            width: 100%;
            max-width: 374px;
            margin-right: 40px;
            padding-top: 11px;
            justify-content: center;
            flex-grow: 0;
            flex-shrink: 0;
        
  
      @media screen and (max-width: 932px) {
        margin: 0 5px;
      }
  
      &:focus {
        outline-width: 0;
      }
  
      img {
        max-width: 100%;
        height: auto;
        -o-object-fit: contain;
        object-fit: contain;
      }
  
      &:hover {
        filter: grayscale(0%);
      }
    }
  
    &__arrow {
      position: absolute;
      z-index: 8;
      top: 50%;
      display: inline-flex;
      transform: translateY(-50%);
  
      &--prev {
        left: -45px;
  
        @media screen and (max-width: 1570px) {
          left: -40px;
        }
  
        .i {
          transform: scale(-1, 1);
        }
      }
  
      &--next {
        right: -45px;
  
        @media screen and (max-width: 1570px) {
          right: -40px;
        }
      }
  
      .i {
        width: 28px;
        height: 10px;
        background: #000;
  
        &:hover {
          background: #70abdc;
        }
      }
    }
  }
  

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1598px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .title {
    font-size: Clamp-all(52, 42, 42px );
    font-weight: bold;
    line-height: 1.354;
    margin-bottom: 40px;
    span{
        background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.team_container{
    display: grid;
        grid-template-columns: auto auto auto;
}


.banner_partner{
  overflow: hidden;
  max-width: 100%;
  padding: 70px 0 57px;
  background-color: #f5f5f5;
  .container{
    max-width: 1622px;
    padding: 0 45px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    .partner_slider{
      position: relative;
      width: 100%;
      max-width: 100%;
      .slick_list{
        margin: 0 -20px;
        .slick_track{
          display: flex !important;
          align-items: center;
          .partner_pic{
            display: flex !important;
            margin: 0 20px;
            transition: all .3s ease;
            justify-content: center;
            filter: grayscale(100%);
            will-change: filter;
            width: 185px;
            img{
              max-width: 100%;
              height: auto;
              -o-object-fit: contain;
              object-fit: contain;  
            }
          }
        }
      }
    }
  }
}

.call {
  overflow: hidden;
  max-width: 100%;
  padding: 56px 0 58px;
  background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
  .container{
    box-sizing: border-box;
    width: 100%;
    max-width: 1598px;
    margin: 0 auto;
    padding: 0 15px;
    .callRow {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .callColTitle{
        margin-right: 103px;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .callColContacts {
        width: 100%;
        max-width: 555px;
        margin-right: 86px;
      }
      .callCol {
        max-width: 560px;
        .callTitle {
          font-size: 42px;
          font-weight: bold;
          line-height: 1.354;
          margin-bottom: 0;
          color: #fff;
        }
        .callSubtitle {
          font-size: 22px;
          font-weight: 500;
          line-height: 1.354;
          display: block;
          color: #fff;
        }
        .callTeamText {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.354;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          color: #fff;
          align-items: center;
          i {
            width: 18px;
            height: 18px;
            margin-right: 6px;
            background: #fff;
            z-index: 3;
          }
        }
        .callTeam {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          justify-content: center;
          flex-flow: row wrap;
          .callLink {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.354;
            position: relative;
            color: #fff;
            p {
              margin-bottom: 28px;
            }
            a {
              font-size: 30px;
              font-weight: 600;
              line-height: 1.354;
              position: relative;
              color: #fff;
            }
          }
        }
        .callMail {
          font-size: 22px;
          font-weight: 600;
          line-height: 1.354;
          width: max-content;
          position: relative;
          text-align: center;
          color: #fff;
          margin: 0 auto;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
      .callColBtn {
        display: flex;
        padding-bottom: 8px;
        align-self: stretch;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        .callBtn {
          padding: 15px 80px;
        }
        .btn {
          position: relative;
          display: inline-flex;
          border: none;
          outline-width: 0;
          background: none;
          align-items: center;
        }
        .btnWhite {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.4;
          overflow: hidden;
          min-height: 60px;
          padding: 15px 113px;
          transition: background-position .35s ease-out;
          text-align: center;
          color: #fff;
          border-radius: 5px;
          background: linear-gradient(to right, #fff, #fff, #6faadb, #32509d);
          background-size: 300% 100%;
          span {
            transition: background-position .35s ease-out;
            background: linear-gradient(to right, #32509d, #70abdc, #fff, #fff);
            -webkit-background-clip: text;
            background-size: 300% 100%;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

.i_phone_call {
  width: 14px;
  height: 14px;
  background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
  background: url(https://tandhconsult.com/wp-content/themes/th/img/icons/phone-call.svg);
  mask-image: url(https://tandhconsult.com/wp-content/themes/th/img/icons/phone-call.svg);

}