@use 'sass:math';

@function Clamp-all($half, $viewH, $full, $viewport: 1920) {
    $scaled-value-px: math.div($half, 2);
    $scaled-value-vw: math.div($viewH, $viewport) * 100;
    @return clamp(
        calc(#{$scaled-value-px}px), // Half value in px
        calc(#{$scaled-value-vw}vw), // Viewport-based value in vw
        #{$full} 
    );
}


.Modal{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 104vh;
    display: block;
    color: white;
    padding: 156px 20px 0;
    // animation: mymove 1s;
    // @keyframes mymove {
    //     0%   {    transform: translateY(0);}
    //     100% {    transform: translateY(-110%);}
    // }
    ul{
        display: block;
        position: relative;
        li{
            display: block;
            margin: 0 0 10px;
            padding-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 2;
            position: relative;
            a{
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                color: #fff;
            }
            ul{
                position: relative;
                top: auto;
                left: auto;
                visibility: visible;
                padding: 10px 0 10px 20px;
                transition: none;
                transform: none;
                opacity: 1;
                background: none;
                will-change: auto;
                li{
                    display: block;
                    margin: 0 0 10px;
                    padding-bottom: 0;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 2;
                    position: relative;
                    a{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        color: #fff;
                    }
                }
            }
            .active{
                color: #70abdc;
            }
        }
        .arrow_down{
            display: block;
            &::after{
                top: 7px;
                right: 0;
                bottom: auto;
                left: auto;
                transform: none;
                border-width: 6px 6px 0 6px;
                cursor: pointer;
                position: absolute;
                // bottom: 8px;
                // left: 50%;
                width: 0;
                height: 0;
                content: '';
                transition: all .3s ease;
                // transform: translateX(-50%);
                // border-width: 3px 3px 0 3px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
            }
        }
    }
}

.openModal{
    display: block;
    animation: mymove 1s;
}
@keyframes mymove {
    0%   {    transform: translateY(-110%);}
    100% {    transform: translateY(0);}
}

.closeModal{
    display: block;
    animation: mymove2 1s;
}
@keyframes mymove2 {
    0%   {    transform: translateY(0);}
    100% {    transform: translateY(-110%);}
}
.heading{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    // padding-top: 4rem;
    .header_part{
        box-sizing: border-box;
        width: 100%;
        max-width: 1598px;
        margin: 0 auto;
        padding: 0 15px;
        padding-top: 1rem;
        height: Clamp-all(160, 160, 160px);
        @media only screen and (max-width: 1570px)  {
            padding-top: 2rem;
        }
        @media only screen and (max-width: 1130px) {
            padding-top: 3rem;
        }
        @media only screen and (max-width: 1039px) {
            padding-top: 4rem;
        }
        .header_row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            .header_inner{
                width: 100%;
                margin-left: 114px;
                padding-top: 13px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                position: relative;
                @media only screen and (max-width: 1570px)  {
                    flex-direction: column;
                    align-items: flex-end;
                    padding-right: 1rem;
                    margin-left: 0;
                }
                @media screen and (max-width: 1130px) {
                    margin-left: -1px;
                }
                @media screen and (max-width: 1039px) {
                    flex-direction: row;
                    // padding-right: 2rem;
                    align-items: center;
                }
                .header__toggle{
                    position: relative;
                    z-index: 3;
                    display: none;
                    width: 32px;
                    height: 18px;
                    order: 3;
                    a{
                        text-decoration: none;
                    }

                    span{
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        transition: all .35s ease;
                        transform: rotate(0deg);
                        opacity: 1;
                        &:nth-child(1){
                            top: 0;
                        }
                        &:nth-child(2){
                            top: 8px;
                        }
                        &:nth-child(3){
                            top: 8px;
                        }
                        &:nth-child(4){
                            top: 16px;
                        }
                    }
                    @media screen and (max-width: 1039px) {
                        display: block;
                    }
                }
                .header__toggle__active{
                    position: relative;
                    z-index: 3;
                    display: none;
                    width: 32px;
                    height: 18px;
                    order: 3;
                    a{
                        text-decoration: none;
                    }
                    span{
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        transition: all .35s ease;
                        transform: rotate(0deg);
                        opacity: 1;
                        &:nth-child(1){
                            top: 8px;
                            left: 50%;
                            visibility: hidden;
                            width: 0;
                            opacity: 0;
                        }
                        &:nth-child(2){
                            top: 8px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(3){
                            top: 8px;
                            transform: rotate(-45deg);
                        }
                        &:nth-child(4){
                            top: 8px;
                            left: 50%;
                            visibility: hidden;
                            width: 0;
                            opacity: 0;
                        }
                    }
                    @media screen and (max-width: 1039px) {
                        display: block;
                    }
                }
                .App_header{
                    display: block;
                    @media screen and (max-width: 1039px) {
                        display: none;
                    }
                }
                .otherside{
                    display: flex;
                    width: 32%;
                    justify-content: space-between;
                    @media only screen and (max-width: 1570px)  {
                        flex-direction: row-reverse;
                        width: 100%;
                        justify-content: end;
                        gap: 4rem;
                    }
                }
                .nav_header{
                    position: relative;
                    display: inline-flex;
                    margin: 0 20px;
                    padding-bottom: 15px;
                    padding-left: 0;
                    .page{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        color: #fff;
                        cursor: pointer;
                    }
        
                }
                .down {
                    position: relative;
                  
                    .hover {
                        opacity: 0; // Initially hidden
                        visibility: hidden; // Prevents interaction while hidden
                        transform: translateY(-10px); // Optional: adds a movement effect
                        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
                        background-color: rgba(255, 255, 255, .95);
                        display: flex;
                        flex-direction: column;
                        padding: 1rem 1rem;
                        text-align: center;
                        .btn_a{
                            color: #012555 ;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: normal;
                            padding-bottom: 15px;
                        }
                    
                    }
                  
                    &:hover {
                      .hover {
                        opacity: 1; // Fully visible on hover
                        visibility: visible;
                        transform: translateY(0); // Resets position
                      }
                    }
                }
                  
                .arrow{
                    &::after{
                        position: absolute;
                        bottom: 8px;
                        left: 50%;
                        width: 0;
                        height: 0;
                        content: '';
                        transition: all .3s ease;
                        transform: translateX(-50%);
                        border-width: 3px 3px 0 3px;
                        border-style: solid;
                        border-color: #fff transparent transparent transparent;
                    }
                }
                .arrow2{
                    &::after{
                        position: absolute;
                        bottom: 8px;
                        left: 50%;
                        width: 0;
                        height: 0;
                        content: '';
                        transition: all .3s ease;
                        transform: translateX(-50%);
                        border-width: 3px 3px 0 3px;
                        border-style: solid;
                        border-color: rgb(1, 37, 85) transparent transparent transparent;
                    }
                }
            }
            .img_container{
                display: flex;
                height: auto;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: Clamp-all(144, 144, 144px );
                width: 22%;
                .header_logo{
                    position: relative;
                    /* z-index: 3; */
                    z-index: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: all .4s ease;
                    opacity: 1;
                    flex: 0 0 Clamp-all(206, 226, 226px);
                    img{
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                
                    }
                    // @media screen and (max-width: 1024px) {
                    //     flex: 0 0 180px;
                        
                    // }
                    // @media screen and (max-width: 960px) {
                    //     flex: 0 0 10px;
                        
                    // }
                }
            }
            .btn_quote{
                font-size: 14px;
                font-weight: bold;
                line-height: 1.4;
                overflow: hidden;
                min-height: 60px;
                padding: 15px 30px;
                transition: background-position .5s ease;
                text-align: center;
                text-transform: uppercase;
                color: #fff !important;
                border-radius: 5px;
                background: linear-gradient(to right, #012555, #55719F, #012555);
                background-size: 300% 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                @media screen and (max-width: 1039px) {
                    display: none;
                }
            }
        }
        .controls{
            position: relative;
            z-index: 4;
            display: flex;
            margin-right: 20px;
            align-items: center;
            width: 9rem;
            .modal_input{
                width: 1rem;
                position: absolute;
                width: 100%;
                height: 2rem;
                right: 8rem;
                display: flex;
                z-index: 1;
                .search_input{
                    width: 70%;
                    height: 100%;
                    border-radius: 1rem;
                }
            
            }
            .header__controlls_separate {
                position: relative;
                top: -1px;
                display: block;
                width: 1px;
                height: 15px;
                margin: 0 10px;
                background-color: rgba(255, 255, 255, .21);
            }
            .person{
                mask-image: url('https://tandhconsult.com/wp-content/uploads/2021/05/cart.svg');
                width: 12px;
                height: 14.51px;
        
            }
            .txtlogin{
                font-size: 14px;
                font-weight: bold;
                line-height: 1.4;
                display: inline-flex;
                color: #fff;
                margin-left: .5rem;
            }
        }
    }
}

