.banner_btn{
    display: inline-flex;
    align-items: center;
    margin-bottom: 35px;
    padding: 15px 95px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    overflow: hidden;
    min-height: 60px;
    transition: background-position .5s ease;
    text-align: center;
    // text-transform: uppercase;
    color: #fff !important;
    border-radius: 5px;
    background: linear-gradient(to right, #012555, #55719F, #012555);
    // linear-gradient(to right, #32509d, #6faadb, #32509d);
    background-size: 300% 100%;
    justify-content: center;
    border: solid 1px #fff;
}