.banner_consult{
    // overflow: hidden;
    max-width: 100%;
    padding: 110px 0;
    background: linear-gradient(to right, #012555, #55719F, #012555);
    // linear-gradient(90deg, #32509d 0%, #6faadb 100%);
    position: relative;
    .container{
        box-sizing: border-box;
        width: 100%;
        max-width: 1598px;
        margin: 0 auto;
        padding: 0 15px;
        color: #000!important;
        .consult_wrapper{
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            @media only screen and (max-width: 1020px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }
            .consult_col{
                width: 100%;
                max-width: 739px;
                .extra{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1rem;
                    line-height: 2.25rem;
                    @media only screen and (max-width: 500px){
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                    }
                }
                .consult__subtitle {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.354;
                    display: block;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    color: #fff;
                }
                .consult__title {
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 1.354;
                    margin-bottom: 20px;
                    color: #fff;
                }
                .consult__form {
                    width: 100%;
                    max-width: 100%;
                    padding-top: 3px;
                }
                &:last-child {
                    max-width: 769px;
                    margin-left: 60px;
                    @media only screen and (max-width: 1020px) {
                        margin-left: 0;
                        padding: 0rem 2rem;
                        
                    }
                }
                .consult__review {
                    width: 100%;
                    margin-bottom: 14px;
                    padding-top: 21px;
                }
                .consult_form{
                    padding: 2rem 2.5rem 5rem;
                    background-color: rgba(255, 255, 255, 0.84);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .privacy{
                        border-top: solid 1px #fff;
                        text-decoration: underline;
                        color: #007eff;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}


.star_shine{
    width: 14px;
    height: 14px;
    background-color: #fff;
    mask-image: url(https://tandhconsult.com/wp-content/themes/th/img/icons/star.svg);
    background: url(https://tandhconsult.com/wp-content/themes/th/img/icons/star.svg);
    display: inline-block;
    background-size: contain;
}

.headphone_icon{
    width: 77px;
    height: 80px;
    background-color: #fff;
    mask-image: url(https://tandhconsult.com/wp-content/uploads/2021/05/headphone.svg);
    background: url(https://tandhconsult.com/wp-content/uploads/2021/05/headphone.svg);
    display: inline-block;
    // mask-size: 100% auto;
}

.triplet_star_icon{
    width: 77px;
    height: 80px;
    background-color: #fff;
    mask-image: url(https://tandhconsult.com/wp-content/uploads/2021/05/user.svg);
    background: url(https://tandhconsult.com/wp-content/uploads/2021/05/user.svg);
    display: inline-block;
    background-size: contain;
}

.board_icon{
    width: 77px;
    height: 80px;
    background-color: #fff;
    mask-image: url(https://tandhconsult.com/wp-content/uploads/2021/05/analysis.svg);
    background: url(https://tandhconsult.com/wp-content/uploads/2021/05/analysis.svg);
    display: inline-block;
}

.PC_icon{
    width: 80px;
    height: 74px;
    background-color: #fff;
    mask-image: url(https://tandhconsult.com/wp-content/uploads/2021/05/invest.svg);
    background: url(https://tandhconsult.com/wp-content/uploads/2021/05/invest.svg);
    display: inline-block;
}

.plus_icon{
    width: 36px;
    height: 36px;
    background-color: #fff;
    background: url(https://tandhconsult.com/wp-content/themes/th/img/icons/add.svg);
    mask-image: url(https://tandhconsult.com/wp-content/themes/th/img/icons/add.svg);
    display: inline-block;
}

.arrow_right_icon{
    width: 32px;
    height: 14px;
    display: inline-block;
    // background-color: linear-gradient(to right, #32509d 0%, #70abdc 100%);
    // background: #fff!important;
    filter: brightness(0) invert(1);
    background: url(https://tandhconsult.com/wp-content/themes/th/img/icons/arrow-right.svg);
    mask-image: url(https://tandhconsult.com/wp-content/themes/th/img/icons/arrow-right.svg);
}

.chatbot{
    z-index: 3;
    right: -3rem;
    top: 18rem;
    rotate: 270deg;
    background-color: #4A90E2;
    color: white;
    padding: .3rem 1rem 0rem 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 1rem;
    font-size: .85rem;
    position: fixed;
}