/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import "@fontsource/montserrat/index.css";
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.main_homepage{
  position: relative;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  font-family:'Montserrat', sans-serif;
  line-height: 2;
}
.breadcrumbs__separator {
  position: relative;
  top: 0px;
  width: 4px;
  height: 4px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #67a5da;
}

.separator_container{
  box-sizing: border-box;
  width: 100%;
  max-width: 1598px;
  margin: 0 auto;
  padding: 6px 15px;
}

.bread__link{
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #fff;
  cursor: pointer
  /* #868686; */
}

.bread{
  overflow: hidden;
  max-width: 100%;
  padding: 8px 0 6px;
  background-color: rgba(0, 0, 255, 0.04);
  /* #f1f1f1; */
}

.warning{
  text-align: center;
  padding: .5rem 30px;
  color: #ffffff;
  background: linear-gradient(to right, #012555, #55719F, #012555);
  font-weight: bolder;
  font-size: 0.92rem;
  font-family: sans-serif;
}





