@use 'sass:math';

@function Clamp-all($half, $viewH, $full, $viewport: 1920) {
    $scaled-value-px: math.div($half, 2);
    $scaled-value-vw: math.div($viewH, $viewport) * 100;
    @return clamp(
        calc(#{$scaled-value-px}px), // Half value in px
        calc(#{$scaled-value-vw}vw), // Viewport-based value in vw
        #{$full} 
    );
}

.privacy {
    overflow: hidden;
    max-width: 100%;
    padding: 38px 0 80px;
  
    @media screen and (max-width: 768px) {
      padding-bottom: 30px;
    }
  
    &__title {
      margin-bottom: 30px;
  
      @media screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
    }
  
    &__block {
      margin-bottom: 40px;
  
      @media screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
  
      p {
        line-height: 1.804;
        margin-bottom: 25px;
  
        @media screen and (max-width: 768px) {
          margin-bottom: 15px;
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      ul li {
        line-height: 2;
        margin-bottom: 0;
      }
  
      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
  
        background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: max-content;
        width: 100%;
        display: inline-block;
  
        @media screen and (max-width: 1024px) {
          font-size: 28px;
        }
  
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
  
      h3,
      h4 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: max-content;
        width: 100%;
        display: inline-block;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .privacy__subtitle {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;
  
      &--margin-lg {
        margin-bottom: 30px;
  
        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
  
      @media screen and (max-width: 1024px) {
        font-size: 28px;
      }
  
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  
    p.privacy__pre {
      margin-top: -15px;
      margin-bottom: 5px;
      opacity: 0.5;
  
      @media screen and (max-width: 768px) {
        margin-top: -5px;
      }
    }
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1598px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: Clamp-all(52, 42, 42px );
    font-weight: bold;
    line-height: 1.354;
    margin-bottom: 40px;
    span{
        background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

ol {
    margin-bottom: 28px;
    counter-reset: myCounter;
    li{
        position: relative;
        padding-left: 26px;
        &::before{
            font-size: 16px;
            font-weight: 600;
            line-height: 1.354;
            position: absolute;
            top: 3px;
            left: 0;
            content: counter(myCounter) '.';
            counter-increment: myCounter;
            background: linear-gradient(to right, #32509d 0%, #70abdc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.wp-block-separator {
    border: none;
    border-top: 2px solid;
}
hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}